
@{
    ViewData["Title"] = "LoginClient";
    Layout = "~/Views/Shared/LayoutClient/_LayoutClient.cshtml";
}

<style>
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    .card-registration .select-arrow {
        top: 13px;
    }
</style>
@section Scripts{
    <script src="~/LibrararyClient/ajax/DangNhapUser.js"></script>
}

<section class="h-100 bg-gray" style="margin-top:100px">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-4 d-none d-xl-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                 alt="Sample photo" class="img-fluid"
                                 style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>
                        <div class="col-xl-8">
                            <div class="card-body p-md-5 text-black">
                                <h3 class="mb-5 text-uppercase">Đăng nhập</h3>
                                <div class="row">
                                    <div class="col-md-12 mb-4">
                                        <div class="form-outline">
                                            <input type="text" id="UserName" class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Example1m">Tài khoản</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <div class="form-outline">
                                            <input type="password" id="Password" class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Example1n">Mật khẩu</label>
                                        </div>
                                    </div>
                                </div>


                                <div class="d-flex justify-content-end pt-12">
                                    <button type="button" id="btnDangNhap" class="btn btn-warning btn-lg ms-6">Đăng nhập</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

