@{
    ViewData["Title"] = "Danh mục đồng hồ";
    Layout = "~/Views/Shared/LayoutAdmin/_LayoutAdmin.cshtml";
}


@section Scripts{
    <script src="~/libararyadmin/js/plugins/datatables/datatables.min.js"></script>
    <script src="~/libararyadmin/js/plugins/chosen/chosen.jquery.js"></script>
    <script src="~/libararyadmin/ajax/danhmucdongho.js"></script>
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Danh sách đồng hồ</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Trang chủ</a>
            </li>
            <li>
                <a>Danh sách đồng hồ</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="row">
    <div class="col-lg-6" style="padding:0">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Danh sách đồng hồ</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label>tìm kiếm theo hãng: </label>
                        <select class="form-control chosen" id="tkHangSanXuat">
                            <option value="">--Chọn hãng sản xuất--</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Tìm kiếm theo thương hiệu: </label>
                        <select class="form-control chosen" id="tkThuongHieu">
                            <option value="">--Chọn thương hiệu--</option>
                        </select>
                    </div>
                    <div class="col-sm-12">
                        <div class="ibox-content" style="padding:0">
                            <div class="table-responsive">
                                <table id="tblDanhMucDongHo"
                                       data-classes="table table-striped table-bordered table-hover"
                                       data-toggle="table"
                                       data-mobile-responsive="true"
                                       data-search="true"
                                       data-fixed-columns="true"
                                       data-show-export="true"
                                       data-pagination="true"
                                       data-page-size="10"
                                       data-page-list="[10, 15, 25, all]">
                                    <thead>
                                        <tr>
                                            <th data-field="tenLoai">Tên đồng hồ</th>
                                            <th data-field="hangSanXuat">Hãng Sản Xuất</th>
                                            <th data-field="thuongHieu">Thương Hiệu</th>
                                            <th data-field="isTrangThai">Trạng thái</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6" style="padding-right:0">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Thông tin đồng hồ</h5>
            </div>
            <div class="ibox-content">
                <div class="ibox-title" style="padding-left:0">
                    <button type="button" class="btn btn btn-primary btn-sm" id="btnTaoMoi"><i class="fa fa-plus"></i> Tạo mới</button>
                    <button type="button" class="btn btn btn-success btn-sm" id="btnLuu"><i class="fa fa-save"></i> Lưu</button>
                    <button type="button" class="btn btn btn-danger btn-sm" id="btnXoaDanhMuc"><i class="fa fa-remove"></i> Xóa</button>
                </div>
                <div class="row" style="padding:10px">
                    <div class="form-horizontal">
                        <input type="hidden" class="form-control" id="IdLoaiDongHo">
                        <div class="form-group col-sm-6">
                            <label>Tên đồng hồ<font color="red">*</font>: </label>
                            <input type="text" placeholder="nhập tên ..." class="form-control" id="TenLoai">
                        </div>
                        <div class="form-group col-sm-12">
                            <label>Hãng sản xuất: </label>
                            <select class="form-control chosen" id="HangSanXuat">
                                <option value="">--Chọn hãng sản xuất--</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12">
                            <label>Thương hiệu: </label>
                            <select class="form-control chosen" id="ThuongHieu">
                                <option value="">--Chọn thương hiệu--</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="i-checks"><label> <input type="checkbox" id="IsTrangThai" value="false"> <i></i> Còn kinh doanh </label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>